<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>carltronikoutlook.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mobilefinance.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mobilefinance.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mobilefinance</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mobilefinance</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="MOBILEFINANCE" Order="1" Enabled="False">
          <Destination Path="Data Source=mobilefinance.database.windows.net;Initial Catalog=MOBILEFINANCE;Persist Security Info=True;User ID=carltronik;Password=ElMundoGira2012!;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="gtech.mobilefinance.dal.DataContext, gtech.mobilefinance.dal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://carltronikoutlook.onmicrosoft.com/WebApp-mobilefinance.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>76f7a99e-9814-4049-bd58-1cb5a50b5df0</ADClientAPPID>
    <ADClientPassword>BOhxMyncNdk9/XESKMTSE8q8EobBqoxctokzPp+iiMc=</ADClientPassword>
    <ADReplyUrl>https://mobilefinance.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>21f1a867-fc5f-45b9-9ef2-262e2c507b9d</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MOBILEFINANCE-Web.config Connection String">
      <ParameterValue>Data Source=mobilefinance.database.windows.net;Initial Catalog=MOBILEFINANCE;Persist Security Info=True;User ID=carltronik;Password=ElMundoGira2012!;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>